BasedOnStyle : WebKit
FixNamespaceComments : true
Language : Cpp
AccessModifierOffset : -2
AlignAfterOpenBracket : Align
AlignTrailingComments : true
AllowShortLambdasOnASingleLine: Empty
BreakBeforeBinaryOperators : None
ColumnLimit : 120
ConstructorInitializerIndentWidth : 2
Cpp11BracedListStyle : true
IndentWidth : 2
MaxEmptyLinesToKeep : 1
NamespaceIndentation : None
SpaceBeforeParens : ControlStatements
SpacesBeforeTrailingComments : 2
SpaceBeforeCpp11BracedList : false
Standard : c++17
TabWidth : 2
UseTab : Never
